<main id=main class=component-page>

  {{#with component }}
  <article>

    <h1 class=page-title>{{ displayLanguage }}: <i class=inex>{{ form }}</i></h1>

    <fieldset>
      <legend class=label>Basics</legend>
      <dl>

        <dt>Form</dt>
        <dd>{{#if form }}{{ form }}{{else}}—{{/if}}</dd>

        <dt>UR</dt>
        <dd>{{#if UR }}{{ UR }}{{else}}—{{/if}}</dd>

        <dt>Proto-Algonquian</dt>
        <dd>{{#if PA }}{{ PA }}{{else}}—{{/if}}</dd>

        <dt>Definition</dt>
        <dd>{{#if definition }}‘{{ definition }}’{{else}}—{{/if}}</dd>

        <dt>Component Type</dt>
        <dd>{{#if type }}{{ type }}{{else}}—{{/if}}</dd>

        <dt>Subcategory</dt>
        <dd>{{#if subcategory }}{{ subcategory }}{{else}}—{{/if}}</dd>

      </dl>
    </fieldset>

    <fieldset>
      <legend class=label>Language</legend>
      <dl>

        <dt>Language</dt>
        <dd>{{ displayLanguage }}</dd>

        <dt>Dialect</dt>
        <dd>{{#if dialect }}{{ dialect }}{{else}}—{{/if}}</dd>

        <dt>Glottocode</dt>
        <dd>{{#if Glottocode }}<code><a class=link href='https://glottolog.org/resource/languoid/id/{{ Glottocode }}' rel='noopener noreferrer' target=_blank>{{ Glottocode }}<svg class=external-link><use href=#external-link></svg></a></code>{{else}}—{{/if}}</dd>

        <dt>ISO 639-3</dt>
        <dd>{{#if ISO }}<code><a class=link href='https://www.ethnologue.com/language/{{ ISO }}/' rel='noopener noreferrer' target=_blank>{{ ISO }}<svg class=external-link><use href=#external-link></svg></a></code>{{else}}—{{/if}}</dd>

      </dl>
    </fieldset>

    <fieldset>
      <legend class=label>Matches</legend>
      <dl>

        <dt>AI</dt>
        <dd>{{#if matches.AI }}{{ matches.AI }}{{else}}—{{/if}}</dd>

        <dt>II</dt>
        <dd>{{#if matches.II }}{{ matches.II }}{{else}}—{{/if}}</dd>

        <dt>TA</dt>
        <dd>{{#if matches.TA }}{{ matches.TA }}{{else}}—{{/if}}</dd>

        <dt>TI</dt>
        <dd>{{#if matches.TI }}{{ matches.TI }}{{else}}—{{/if}}</dd>

      </dl>
    </fieldset>

    <fieldset>
      <legend class=label>Additional Info</legend>
      <dl>

        {{#if (is type 'initial') }}
          <dt>Initial: Reduplicated</dt>
          <dd>
            <span class=visually-hidden>{{#if reduplicated }}true{{else}}false{{/if}}</span>
            <input type=checkbox {{#if reduplicated }}checked{{/if}} inert>
          </dd>
        {{/if}}

        {{#if (is type 'final') }}

          <dt>Final: Concrete/Abstract</dt>
          <dd>{{#if specificity }}{{ specificity }}{{else}}—{{/if}}</dd>

          <dt>Final: Primary</td>
          <dd>
            <span class=visually-hidden>{{#if primary }}true{{else}}false{{/if}}</span>
            <input type=checkbox {{#if primary }}checked{{/if}} inert>
          </dd>

          <dt>Final: Secondary</td>
          <dd>
            <span class=visually-hidden>{{#if secondary }}true{{else}}false{{/if}}</span>
            <input type=checkbox {{#if secondary }}checked{{/if}} inert>
          </dd>

        {{/if}}

      </dl>
    </fieldset>

    <fieldset class=notes>
      <legend class=label>Notes</legend>
      <p>{{#if notes }}{{ notes }}{{else}}—{{/if}}</p>
    </fieldset>

    <fieldset class=metadata>
      <legend class=label>Metadata</legend>
      <dl>

        <dt>ID</dt>
        <dd><code>{{ ID }}</code></dd>

        <dt>URL</dt>
        <dd><code><a class=link href=https://nisinoon.net{{ ../url }}>https://nisinoon.net{{ ../url }}</a></code></dd>

      </dl>
    </fieldset>

  </article>
  {{/with}}

  <section class=citation>
    <h2>How to Cite this Component</h2>
    <blockquote class=blockquote data-hook=citation><p>Monica Macaulay & Hunter T. Lockwood. {{ meta.releaseYear}}. “{{ component.form }}”. In <cite>Nisinoon: The Algonquian Components Database</cite> v{{ package.version }}. DOI: <a class=link href=https://doi.org/10.5281/zenodo.11459862>10.5281/zenodo.11459862</a>. URL: <a class=link href='https://nisinoon.net{{ url }}'>https://nisinoon.net{{ url }}</a>.</p></blockquote>
    <button class='button copy-citation-button' data-hook=copy-citation type=button>Copy</button>
  </section>

  <details class=json>
    <summary><h2>View JSON</h2></summary>
    <pre><code data-hook=json>{{ json }}</code></pre>
    <div class=button-wrapper>
      <button class='button copy-json-button' data-hook=copy-json type=button>Copy</button>
    </div>
  </details>

</main>

{{#section 'scripts'}}
  <script async type=module>{{{ js.Component }}}</script>
{{/section}}