<nav aria-label=pagination class='pagination sticky'>
  {{#with pagination }}
  <ol>
    {{#unless (is startIndex 1) }}
      <li>
        <a href='{{ links.firstPage }}'>
          <span aria-hidden=true>«</span>
          <span class=visually-hidden>First Page</span>
        </a>
      </li>
      <li>
        <a href='{{ links.prevPage }}'>
          <span aria-hidden=true>‹</span>
          <span class=visually-hidden>Previous Page</span>
        </a>
      </li>
    {{/unless}}
    {{#each prevPages }}
      <li>
        <a href='{{ link }}'>{{#if jump }}…{{else}}{{ pageNum }}{{/if}}</a>
      </li>
    {{/each}}
    <li>
      <a href='{{ url }}'>
        <span aria-hidden=true>{{ currentPage }}</span>
        <span class=visually-hidden>Current Page</span>
      </a>
    </li>
    {{#each nextPages }}
      <li>
        <a href='{{ link }}'>{{#if jump }}…{{else}}{{ pageNum }}{{/if}}</a>
      </li>
    {{/each}}
    {{#unless (is endIndex totalResults) }}
      <li>
        <a href='{{ links.nextPage }}'>
          <span aria-hidden=true>›</span>
          <span class=visually-hidden>Next Page</span>
        </a>
      </li>
      <li>
        <a href='{{ links.lastPage }}'>
          <span aria-hidden=true>»</span>
          <span class=visually-hidden>Last Page</span>
        </a>
      </li>
    {{/unless}}
  </ol>
  {{/with}}
</nav>