<main class=search-page id=main>

  <search>
    <form method=get>
      <label for=search-box>Quick Search</label>
      <div class=search-controls>
        <input
          autocomplete=on
          autocorrect=off
          class=text-box
          enterkeyhint=search
          id=search-box
          inputmode=search
          name=q
          placeholder='e.g. “atimw-” or “dog”'
          spellcheck=false
          type=search
        >
        <button class=button type=submit>Search</button>
      </div>
      <span class=help-text>Searches components (in any orthography) and definitions.</span>
    </form>
  </search>

  {{#if (isTruthy components) }}
    {{#unless components}}
      <p class=no-results>No results found.</p>
    {{else}}
      <div class=results-wrapper>
        <table class=results>
          <thead>
            <th>Language</th>
            <th>Form</th>
            <th>Definition</th>
          </thead>
          <tbody>
            {{#each components as |component|}}
              <tr>
                <td class=language>{{ language }}</td>
                <td class=form><a class=link href='/components/{{ id }}'>{{ form }}</a></td>
                <td class=definition>‘{{ definition }}’</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/unless}}
  {{/if}}

</main>

