<main class=search-page id=main>

  <search class=sticky>
    <form class=search-form method=get>
      <label for=search-box>Quick Search</label>
      <div class=search-controls>
        <input
          autocomplete=on
          autocorrect=off
          class=text-box
          enterkeyhint=search
          id=search-box
          inputmode=search
          name=q
          placeholder='e.g. “atimw-” or “dog”'
          spellcheck=false
          type=search
        >
        <button class='button green' type=submit>Search</button>
      </div>
      <span class=help-text>Searches forms (in any orthography) and definitions for a match anywhere within the string. Search is not case sensitive. Leave blank and press "Search" to display all components.</span>
    </form>
  </search>

  {{#unless hasResults }}
    <dl class='stats sticky'>
      <dt># of languages</dt>
      <dd>{{ numLanguages }}</dd>
      <dt># of components</dt>
      <dd>{{ numComponents }}</dd>
    </dl>
  {{else}}
    {{#unless results }}
      <p class='no-results sticky'>No results found.</p>
    {{else}}

      <div class='results-info sticky'>
        <p class=num-results>Showing results {{ pagination.startIndex }}–{{ pagination.endIndex }} of {{ totalResults }}.</p>
        <p class=help-text>Click on a form in the table below to view more information about that component.</p>
        {{> em-dash/em-dash }}
      </div>

      {{> Search/components/pagination/pagination }}

      <div aria-labelledby=results-caption class='results-wrapper scroll-shadow' role=region tabindex=0>
        <table class=results>
          <caption class=visually-hidden id=results-caption><h2>Search Results</h2></caption>
          <thead>
            <tr>
              <th class='c partial-width-bb' colspan=8 scope=col>Components<br><span class='help-text th-note'>(Project Orthography)</span></th>
              <th class='c partial-width-bb' colspan=5 scope=col>Sources<br><span class='help-text th-note'>(Original Orthographies)</span></th>{{!-- Token Fields --}}
            </tr>
            <tr>
              {{!-- Component Fields --}}
              <th scope=col>ID</th>
              <th scope=col>Language</th>
              <th scope=col>Form</th>
              <th scope=col>UR</th>
              <th scope=col>Proto-Algonquian</th>
              <th scope=col>Definition</th>
              <th scope=col>Type</th>
              <th scope=col>Subcategory</th>
              {{! -- Token Fields --}}
              <th scope=col>Forms</th>
              <th scope=col>URs</th>
              <th scope=col>Proto-Algonquian</th>
              <th scope=col>Glosses</th>
              <th scope=col>Bibliography</th>
            </tr>
          </thead>
          <tbody>
            {{#each results as |result| }}
              <tr>
                <td class=component-id>{{ componentID }}</td>
                <td class=language>{{ displayLanguage }}</td>
                <td class=form>{{#if form }}<a class=link href='/components/{{ ID }}'>{{ form }}</a>{{else}}—{{/if}}</td>
                <td class=UR>{{#if UR }}<a class=link href='/components/{{ ID }}'>/{{ UR }}/</a>{{else}}—{{/if}}</td>
                <td class=PA>{{#if PA }}{{ PA }}{{else}}—{{/if}}</td>
                <td class=definition>{{#if definition }}‘{{ definition }}’{{else}}—{{/if}}</td>
                <td class=component-type>{{#if type }}{{ type }}{{else}}—{{/if}}</td>
                <td class=subcategory>{{#if subcategory }}{{ subcategory }}{{else}}—{{/if}}</td>
                <td class=source-forms>
                  <ul>
                    {{#each tokens as |token| }}
                      <li>{{#if form }}{{ form }}{{else}}—{{/if}}</li>
                    {{/each}}
                  </ul>
                </td>
                <td class=source-URs>
                  <ul>
                    {{#each tokens as |token| }}
                      <li>{{#if UR }}/{{ UR }}/{{else}}—{{/if}}</li>
                    {{/each}}
                  </ul>
                </td>
                <td class=source-PA>
                  <ul>
                    {{#each tokens as |token| }}
                      <li>{{#if PA }}{{ PA }}{{else}}—{{/if}}</li>
                    {{/each}}
                  </ul>
                </td>
                <td class=source-glosses>
                  <ul>
                    {{#each tokens as |token| }}
                      <li>{{#if gloss }}‘{{ gloss }}’{{else}}—{{/if}}</li>
                    {{/each}}
                  </ul>
                </td>
                <td class=bibliography>
                  <ul>
                    {{#each tokens as |token| }}
                      <li>{{#if bibliography }}{{ bibliography }}{{else}}—{{/if}}</li>
                    {{/each}}
                  </ul>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      {{> Search/components/pagination/pagination }}

      <section class='citation sticky'>

        <h2>How to Cite these Results</h2>

        <blockquote class=blockquote data-hook=citation><p>Monica Macaulay, Hunter T. Lockwood, &amp; Daniel W. Hieber. {{ meta.releaseYear }}. <cite>Nisinoon: The Algonquian Components Database</cite> v{{ package.version}}. DOI: <a class=link href=https://doi.org/10.5281/zenodo.11459862>10.5281/zenodo.11459862</a>. URL: <a class=link href='https://nisinoon.net{{ url }}'>https://nisinoon.net{{ url }}</a>.</p></blockquote>

        <button class='button copy-button' data-hook=copy-citation type=button>Copy</button>

      </section>

    {{/unless}}
  {{/unless}}

</main>

{{#section 'scripts'}}
  <script async type=module>{{{ js.Search }}}</script>
{{/section}}