<main class=search-page id=main>

  <fieldset class=sticky id=search-mode>

    <legend class=visually-hidden>Select a search mode:</legend>

    <label>
      <span>Quick Search</span>
      <input {{#unless advanced }} checked {{/unless}} id=quick-option name=search type=radio value=quick>
    </label>

    <label>
      <span>Advanced Search</span>
      <input {{#if advanced }}checked{{/if}} id=advanced-option name=search type=radio value=advanced>
    </label>

  </fieldset>

  <search class='quick-search sticky'>
    <form class=search-form id=quick-search-form method=get>

      <div>
        <label for=quick-language-select>Language</label>
        <select class='language-select text-box' id=quick-language-select name=language>
          <option {{#unless query.language }}selected{{else if (is query.language 'all') }}selected{{/unless}} value=all>All languages</option>
          {{#each languages as |lang| }}
            <option {{#if (is ../query.language key) }} selected {{/if}} value='{{ key }}'>{{ name }}{{#if autonyms }}({{#each autonyms }}{{ this }}{{#unless @last }}, {{/unless}}{{/each}}){{/if}}</option>
          {{/each}}
        </select>
      </div>

      <div>
        <label for=search-box>Quick Search</label>
        <input
          autocomplete=on
          autocorrect=off
          class=text-box
          enterkeyhint=search
          id=search-box
          inputmode=search
          name=q
          placeholder='e.g. “atimw-” or “dog”'
          spellcheck=false
          type=search
          value='{{ query.q }}'
        >
        <span class=help-text>Searches forms (in any orthography), tags, and glosses. Leave blank to display all components.</span>
      </div>

      <fieldset>

        <legend class=legend>Search Options</legend>

        <div class=checkbox-field>
          <input {{#if query.caseSensitive }} checked {{/if}} id=quick-case-sensitive-box name=caseSensitive type=checkbox>
          <label for=quick-case-sensitive-box>Match case</label>
        </div>

        <div class=checkbox-field>
          <input {{#if query.diacritics }} checked {{/if}} id=quick-diacritics-box name=diacritics type=checkbox>
          <label for=quick-diacritics-box>Match diacritics</label>
        </div>

        <div class=checkbox-field>
          <input {{#if query.regex }} checked {{/if}} id=quick-regex-box name=regex type=checkbox>
          <label for=quick-regex-box>Use regular expressions</label>
          <a class=info-link href=https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_expressions target=_blank>
            <span class=visually-hidden>More information about regular expressions.</span>
            <svg aria-hidden=true class=info-icon><use href=#info></svg>
          </a>
        </div>

        <div class=search-controls>
          <button class='button green' id=quick-search-button type=submit>Search</button>
          <button class='button blue' id=quick-reset-button type=reset>Reset</button>
        </div>

      </fieldset>

    </form>
  </search>

  <search class='advanced-search sticky'>
    <form class=search-form id=advanced-search-form method=get>

      <input name=advanced type=hidden value=true>

      <div class='horizontal-fields main-fields'>

        <label for=advanced-language-select>Language</label>
        <select class='language-select text-box' id=advanced-language-select name=language>
          <option {{#unless query.language }}selected{{else if (is query.language 'all') }}selected{{/unless}} value=all>All languages</option>
          {{#each languages as |lang| }}
            <option {{#if (is ../query.language key) }} selected {{/if}} value='{{ key }}'>{{ name }}{{#if autonyms }}({{#each autonyms }}{{ this }}{{#unless @last }}, {{/unless}}{{/each}}){{/if}}</option>
          {{/each}}
        </select>

        <label for=form-box>Form</label>
        <input
          autocomplete=on
          autocorrect=off
          class=text-box
          enterkeyhint=search
          id=form-box
          inputmode=search
          name=form
          placeholder='e.g. “atimw-”'
          spellcheck=false
          type=search
          value='{{ query.form }}'
        >

        <label for=specificity-select>Specificity</label>
        <select class=text-box id=specificity-select name=specificity>
          <option {{#unless query.specificity }}selected{{/unless}} value=''>—</option>
          <option {{#if (is query.specificity 'ABSTR') }}selected{{/if}} value='ABSTR'>abstract</option>
          <option {{#if (is query.specificity 'CONCR') }}selected{{/if}} value='CONCR'>concrete</option>
        </select>

        <label for=subcategory-select>Subcategory</label>
        <select class=text-box id=subcategory-select name=subcategory>
          <option value=''>—</option>
          {{#each types.subcategories as |subcategory| }}
            <option {{#if (is ../query.subcategory subcategory) }}selected{{/if}} value='{{ subcategory }}'>{{ subcategory }}</option>
          {{/each}}
        </select>

        <label for=tags-box>Tags</label>
        <input
          autocomplete=on
          autocorrect=off
          class=text-box
          enterkeyhint=search
          id=tags-box
          inputmode=search
          name=tags
          placeholder='e.g. “dog”'
          spellcheck=true
          type=search
          value='{{ query.tags }}'
        >

        <label for=type-select>Type</label>
        <select class=text-box id=type-select name=type>
          <option value=''>—</option>
          {{#each types.types as |type| }}
            <option {{#if (is ../query.type type) }}selected{{/if}} value='{{ type }}'>{{ type }}</option>
          {{/each}}
        </select>

        <label for=UR-box>UR</label>
        <input
          autocomplete=on
          autocorrect=off
          class=text-box
          enterkeyhint=search
          id=UR-box
          inputmode=search
          name=UR
          placeholder='e.g. “éθew”'
          spellcheck=false
          type=search
          value='{{ query.UR }}'
        >

      </div><!-- Main Fields -->

      <fieldset class=checkbox-fields>

        <div class=checkbox-field>
          <input {{#if query.primary }} checked {{/if}} id=primary-box name=primary type=checkbox>
          <label for=primary-box>Final: Primary</label>
        </div>

        <div class=checkbox-field>
          <input {{#if query.secondary }} checked {{/if}} id=secondary-box name=secondary type=checkbox>
          <label for=secondary-box>Final: Secondary</label>
        </div>

      </fieldset><!-- CheckBox Fields -->

      <fieldset class=source-fields>

        <legend class=legend>Sources</legend>

        <p class=help-text>Search for a match within one of the original sources for a component.</p>

        <div class=horizontal-fields>

          <label for=source-form-box>Form</label>
          <input
            autocomplete=on
            autocorrect=off
            class=text-box
            enterkeyhint=search
            id=source-form-box
            inputmode=search
            name=sourceForm
            placeholder='e.g. “ôben-”'
            spellcheck=false
            type=search
            value='{{ query.sourceForm }}'
          >

          <label for=source-form-box>UR</label>
          <input
            autocomplete=on
            autocorrect=off
            class=text-box
            enterkeyhint=search
            id=source-UR-box
            inputmode=search
            name=sourceUR
            placeholder='e.g. “-e3ee”'
            spellcheck=false
            type=search
            value='{{ query.sourceUR }}'
          >

          <label for=gloss-box>Gloss</label>
          <input
            autocomplete=on
            autocorrect=off
            class=text-box
            enterkeyhint=search
            id=gloss-box
            inputmode=search
            name=gloss
            placeholder='e.g. “-e3ee”'
            spellcheck=true
            type=search
            value='{{ query.gloss }}'
          >

        </div>

      </fieldset><!-- Source Fields -->

      <fieldset class=search-options>

        <legend class=legend>Search Options</legend>

        <div class=checkbox-field>
          <input {{#if query.caseSensitive }} checked {{/if}} id=advanced-case-sensitive-box name=caseSensitive type=checkbox>
          <label for=advanced-case-sensitive-box>Match case</label>
        </div>

        <div class=checkbox-field>
          <input {{#if query.diacritics }} checked {{/if}} id=advanced-diacritics-box name=diacritics type=checkbox>
          <label for=advanced-diacritics-box>Match diacritics</label>
        </div>

        <div class=checkbox-field>
          <input {{#if query.regex }} checked {{/if}} id=advanced-regex-box name=regex type=checkbox>
          <label for=advanced-regex-box>Use regular expressions</label>
          <a class=info-link href=https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_expressions target=_blank>
            <span class=visually-hidden>More information about regular expressions.</span>
            <svg aria-hidden=true class=info-icon><use href=#info></svg>
          </a>
        </div>

        <div class=logic-field>
          <label for=logic-select>Search logic:</label>
          <select class=text-box id=logic-select name=logic>
            <option {{#unless query.logic }}selected{{else if (is query.logic 'all') }}selected{{/unless}} value=all>Match all criteria</option>
            <option {{#if (is query.logic 'any') }}selected{{/if}} value=any>Match any criteria</option>
          </select>
        </div>

      </fieldset><!-- Search Options -->

      <div class=search-controls>
        <button class='button green' id=advanced-search-button type=submit>Search</button>
        <button class='button blue' id=advanced-reset-button type=reset>Reset</button>
      </div>

      <p class='complex-searches help-text'>For more complex searches not supported here, we recommend exporting the data in CSV or JSON format using the download buttons at the bottom of the results table. Alternatively, you can also download the entire database <a class=link href=https://zenodo.org/doi/10.5281/zenodo.11459862>here</a>.</p>

    </form>
  </search>

  {{#unless hasResults }}
    <dl class='stats sticky'>
      <dt># of languages</dt>
      <dd>{{ numLanguages }}</dd>
      <dt># of components</dt>
      <dd>{{ numComponents }}</dd>
    </dl>
  {{else}}
    {{#unless results }}
      <p class='no-results sticky'>No results found.</p>
    {{else}}

      <div class='results-info sticky'>
        <p class=num-results>Showing results {{ pagination.startIndex }}–{{ pagination.endIndex }} of {{ totalResults }}.</p>
        <p class=help-text>Click on any column header with a sort icon (⇅) to sort that column.</p>
        <p class=help-text>Click on a form to view more information about that component.</p>
        {{> help-text/help-text }}
      </div>

      {{#if pagination.show }}
        {{> Search/components/pagination/pagination }}
      {{/if}}

      <div aria-labelledby=results-caption class='results-wrapper scroll-shadow' role=region tabindex=0>

        <span class=hint id=priority-hint>Priority</span>
        <span class=hint id=sort-hint>Click on a header column to sort.</span>

        <table id=results>
          <caption class=visually-hidden id=results-caption><h2>Search Results</h2></caption>
          <thead>
            <tr class=meta-row>
              {{!-- Component Fields --}}
              <th colspan=6 scope=col>
                <span>Components</span><br><span class='help-text th-note'>(Project Orthography)</span>
              </th>
              {{!-- Token Fields --}}
              <th colspan=3 scope=col>
                <span>Sources</span><br><span class='help-text th-note'>(Original Orthographies)</span>
              </th>
            </tr>
            <tr>

              {{!-- Component Fields --}}
              {{#with sort }}
              <th {{#if displayLanguage }} aria-sort='{{ displayLanguage.direction }}' {{/if}} scope=col>
                <button aria-describedby=sort-hint class=sort-button data-field=displayLanguage>
                  <span>Language</span>
                  <svg aria-hidden class=sort-icon><use href='{{#if (is displayLanguage.direction 'ascending') }}#ascending{{else if (is displayLanguage.direction 'descending') }}#descending{{else}}#sort{{/if}}'></svg>
                </button>
                {{#if displayLanguage }}<span aria-describedby=priority-hint class=priority>{{ displayLanguage.priority }}</span>{{/if}}
              </th>
              <th {{#if form }} aria-sort='{{ form.direction }}' {{/if}} scope=col>
                <button aria-describedby=sort-hint class=sort-button data-field=form>
                  <span>Form</span>
                  <svg aria-hidden class=sort-icon><use href='{{#if (is form.direction 'ascending') }}#ascending{{else if (is form.direction 'descending') }}#descending{{else}}#sort{{/if}}'></svg>
                </button>
                {{#if form }}<span aria-describedby=priority-hint class=priority>{{ form.priority }}</span>{{/if}}
              </th>
              <th {{#if UR }} aria-sort='{{ UR.direction }}' {{/if}} scope=col>
                <button aria-describedby=sort-hint class=sort-button data-field=UR>
                  <span>UR</span>
                  <svg aria-hidden class=sort-icon><use href='{{#if (is UR.direction 'ascending') }}#ascending{{else if (is UR.direction 'descending') }}#descending{{else}}#sort{{/if}}'></svg>
                </button>
                {{#if UR }}<span aria-describedby=priority-hint class=priority>{{ UR.priority }}</span>{{/if}}
              </th>
              <th class=simple-th scope=col>Tags</th>{{!-- NB: "Tags" column is not sortable. --}}
              <th {{#if type }} aria-sort='{{ type.direction }}' {{/if}} scope=col>
                <button aria-describedby=sort-hint class=sort-button data-field=type>
                  <span>Type</span>
                  <svg aria-hidden class=sort-icon><use href='{{#if (is type.direction 'ascending') }}#ascending{{else if (is type.direction 'descending') }}#descending{{else}}#sort{{/if}}'></svg>
                </button>
                {{#if type }}<span aria-describedby=priority-hint class=priority>{{ type.priority }}</span>{{/if}}
              </th>
              <th {{#if subcategory }} aria-sort='{{ subcategory.direction }}' {{/if}} scope=col>
                <button aria-describedby=sort-hint class=sort-button data-field=subcategory>
                  <span>Subcategory</span>
                  <svg aria-hidden class=sort-icon><use href='{{#if (is subcategory.direction 'ascending') }}#ascending{{else if (is subcategory.direction 'descending') }}#descending{{else}}#sort{{/if}}'></svg>
                </button>
                {{#if subcategory }}<span aria-describedby=priority-hint class=priority>{{ subcategory.priority }}</span>{{/if}}
              </th>
              {{/with}}

              {{!-- Token Fields --}}
              <th class=simple-th scope=col>Forms</th>
              <th class=simple-th scope=col>URs</th>
              <th class=simple-th scope=col>Glosses</th>

            </tr>
          </thead>
          <tbody>
            {{#each results as |result| }}
              <tr id='{{ ID }}'>
                <td class=language>{{ displayLanguage }}</td>
                <td class=form lang='{{ ISO }}'>{{#if form }}<a class=link href='/components/{{ ID }}'>{{ form }}</a>{{else}}—{{/if}}</td>
                <td class=UR lang='{{ ISO }}'>{{#if UR }}<a class=link href='/components/{{ ID }}'>/{{ UR }}/</a>{{else}}—{{/if}}</td>
                <td class=tags>
                  {{#if tags }}
                    <ul>
                      {{#each tags as |tag| }}
                        <li>{{ tag }}</li>
                      {{/each}}
                    </ul>
                  {{else}}
                    —
                  {{/if}}
                </td>
                <td class=component-type>{{#if type }}{{ type }}{{else}}—{{/if}}</td>
                <td class=subcategory>{{#if subcategory }}{{ subcategory }}{{else}}—{{/if}}</td>
                <td class=source-forms>
                  <ul>
                    {{#each tokens }}
                      <li lang='{{ ../ISO }}'>{{#if form }}{{ form }}{{else}}—{{/if}}</li>
                    {{/each}}
                  </ul>
                </td>
                <td class=source-URs>
                  <ul>
                    {{#each tokens }}
                      <li lang='{{ ../ISO }}'>{{#if UR }}/{{ UR }}/{{else}}—{{/if}}</li>
                    {{/each}}
                  </ul>
                </td>
                <td class=source-glosses>
                  <ul>
                    {{#each tokens }}
                      <li>{{#if gloss }}‘{{ gloss }}’{{else}}—{{/if}}</li>
                    {{/each}}
                  </ul>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      {{#if pagination.show }}
        {{> Search/components/pagination/pagination }}
      {{/if}}

      <section class='download-options sticky'>

        <h2>Download these Results</h2>

        <div id=download-buttons>
          <button class=button name=csv type=button>
            <span>CSV</span>
            <svg aria-hidden=true class=download-icon><use href=#download></svg>
            <span class=visually-hidden>Download as CSV</span>
          </button>
          <button class=button name=json type=button>
            <span>JSON</span>
            <svg aria-hidden=true class=download-icon><use href=#download></svg>
            <span class=visually-hidden>Download as JSON</span>
          </button>
        </div>

      </section>

      <section class='citation sticky'>

        <h2>How to Cite these Results</h2>

        <blockquote class=blockquote data-hook=citation><p>Monica Macaulay, Hunter T. Lockwood, &amp; Daniel W. Hieber. {{ meta.releaseYear }}. <cite>Nisinoon: The Algonquian Components Database</cite> v{{ package.version}}. DOI: <a class=link href=https://doi.org/10.5281/zenodo.11459862>10.5281/zenodo.11459862</a>. URL: <a class=link href='https://nisinoon.net{{ url }}'>https://nisinoon.net{{ url }}</a>.</p></blockquote>

        <button class='button copy-button' data-hook=copy-citation type=button>Copy</button>

      </section>

    {{/unless}}
  {{/unless}}

</main>

{{#section 'scripts'}}
  <script async type=module>{{{ js.Search }}}</script>
{{/section}}