<main class=search-page id=main>

  <search>
    <form method=get>
      <label for=search-box>Quick Search</label>
      <div class=search-controls>
        <input
          autocomplete=on
          autocorrect=off
          class=text-box
          enterkeyhint=search
          id=search-box
          inputmode=search
          name=q
          placeholder='e.g. “atimw-” or “dog”'
          spellcheck=false
          type=search
        >
        <button class='button green' type=submit>Search</button>
      </div>
      <span class=help-text>Searches forms (in any orthography) and definitions for a match anywhere within the string. Search is not case sensitive. Leave blank and press "Search" to display all components.</span>
    </form>
  </search>

  {{#unless results }}
    <dl class=stats>
      <dt># of languages</dt>
      <dd>{{ numLanguages }}</dd>
      <dt># of components</dt>
      <dd>{{ numComponents }}</dd>
    </dl>
  {{else}}
    {{#unless components}}
      <p class=no-results>No results found.</p>
    {{else}}

      <p class=num-results>{{ numResults }} result(s) found.</p>
      <p class=help-text>Click on a form in the table below to view more information about that component.</p>

      <div class=results-wrapper>
        <table class=results>
          <thead>
            <tr>
              <th></th>{{!-- Component ID --}}
              <th></th>{{!-- Display Language --}}
              <th></th>{{!-- Component Form (Project Orthography) --}}
              <th></th>{{!-- Component UR (Project Orthography) --}}
              <th></th>{{!-- Proto-Algonquian Form (Project Orthography) --}}
              <th></th>{{!-- Project Definition --}}
              <th></th>{{!-- Component Type --}}
              <th class='bb c' colspan=5>Sources</th>{{!-- Token Fields --}}
            </tr>
            <tr>
              {{!-- Component Fields --}}
              <th>ID</th>
              <th>Language</th>
              <th>Form</th>
              <th>UR</th>
              <th>Proto-Algonquian</th>
              <th>Definition</th>
              <th>Type</th>
              {{!-- Token Fields --}}
              <th>Forms</th>
              <th>URs</th>
              <th>Proto-Algonquian</th>
              <th>Glosses</th>
              <th>Bibliography</th>
            </tr>
          </thead>
          <tbody>
            {{#each components as |component| }}
              <tr>
                <td class=component-id>{{ componentID }}</td>
                <td class=language>{{ displayLanguage }}</td>
                <td class=form><a class=link href='/components/{{ id }}'>{{ form }}</a></td>
                <td class=UR><a class=link href='/components/{{ id }}'>{{#if UR}}/{{ UR }}/{{/if}}</a></td>
                <td class=PA>{{ PA }}</td>
                <td class=definition>{{#if definition }}‘{{ definition }}’{{else}}&#8212;{{/if}}</td>
                <td class=component-type>{{ type }}</td>
                <td class=source-forms>
                  <ul>
                    {{#each tokens as |token| }}
                      <li>{{ form }}</li>
                    {{/each}}
                  </ul>
                </td>
                <td class=source-URs>
                  <ul>
                    {{#each tokens as |token| }}
                      <li>{{#if UR }}/{{ UR }}/{{/if}}</li>
                    {{/each}}
                  </ul>
                </td>
                <td class=source-PA>
                  <ul>
                    {{#each tokens as |token| }}
                      <li>{{ PA }}</li>
                    {{/each}}
                  </ul>
                </td>
                <td class=source-glosses>
                  <ul>
                    {{#each tokens as |token| }}
                      <li>{{#if gloss }}‘{{ gloss }}’{{else}}&#8212;{{/if}}</li>
                    {{/each}}
                  </ul>
                </td>
                <td class=bibliography>
                  <ul>
                    {{#each tokens as |token| }}
                      <li>{{ bibliography }}</li>
                    {{/each}}
                  </ul>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <section class=citation>

        <h2>How to Cite these Results</h2>

        <blockquote class=blockquote data-hook=citation><p>Monica Macaulay, Hunter T. Lockwood, &amp; Daniel W. Hieber. {{ meta.releaseYear }}. <cite>Nisinoon: The Algonquian Components Database</cite> v{{ package.version}}. DOI: <a class=link href=https://doi.org/10.5281/zenodo.11459862>10.5281/zenodo.11459862</a>. URL: <a class=link href='https://nisinoon.net{{ url }}'>https://nisinoon.net{{ url }}</a>.</p></blockquote>

        <button class='button copy-button' data-hook=copy-citation>Copy</button>

      </section>

    {{/unless}}
  {{/unless}}

</main>

{{#section 'scripts'}}
  <script async type=module>{{{ js.Search }}}</script>
{{/section}}